.form-el {
  display: flex;
  flex-direction: column;
}

.form-label {
  color: blueviolet;
}

.form-input {
  color: brown;
}

.form-select {
  color: green;
}

.captured-data-container {
  display: flex;
  gap: 10px;
}
